.product-card {
    border: 1px solid #c5c5c5;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    transition: .5s;
}
.product-card:hover {
    box-shadow: 2px 4px 5px 4px #c5c5c5;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-left-color: #ce3030;
    border-top-color: #ce3030;
    border-bottom-color: green;
    border-right-color: green;
}
.product-card img:hover {
    transform: scale(1.01);
    transition: .5s;
}

.btn-cart, .btn-buy {
    background: #f5f5f5;
    padding-bottom: 7px;
    transition: .5s;
}

.btn-cart:hover, .btn-buy:hover {
    background: hsl(348deg 95% 54%);
    color: #fff;
}
/* .fa-shopping-cart {
    color: #3cd60f;
}
.btn-cart {
    border: 1px solid #3cd60f;
}
.btn-buy {
    background: #f5f5f5;
    color: #ffc400;
    border: 1px solid;
} */