#navbar {
    position: sticky;
    top: 0;
}
input:focus-visible{
	outline: 0;
}
.nav-item {
    padding: 0 5px;
}
@media(max-width: 767px){
	.search-bar {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: row;
	}
	nav{
		padding-bottom: 0rem!important;
	}
	#example-navbar-danger {
    justify-content: space-between;
	}
}